<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <array name="StreamingConfiguration" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="name">OrderAnalytics_orderAnalytics</value>
        <value name="description">Order analytics connection</value>
        <value name="package">OrderAnalytics</value>
        <value name="type">Kafka</value>
        <value name="host">es-small-kafka-bootstrap-event.cp4i-bl-5b7e0d81360e5972646d63308bd04bf7-0000.eu-de.containers.appdomain.cloud:443</value>
        <value name="clientId">IS8876d259fc</value>
        <value name="other_properties">security.protocol=SASL_SSL 
sasl.mechanism=SCRAM-SHA-512 
sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required username="webmethods-edge-misja" password="[*****]" ;</value>
        <value name="other_runtime_properties">security.protocol=SASL_SSL 
streaming.consumer.validate.consumers.not.greater.than.partitions=true
sasl.mechanism=SCRAM-SHA-512 
sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required username="webmethods-edge-misja" password="[*****]" ;
streaming.client.publish.mode=asynchronous</value>
        <value name="enabled">true</value>
        <value name="securityProtocol">SASL_SSL</value>
        <value name="truststoreAlias">EStruststore</value>
        <value name="keystoreAlias"></value>
        <null name="keystoreKeyAlias"/>
        <array name="subjects" type="record" depth="1">
        </array>
      </record>
    </array>
  </record>
</IDataXMLCoder>
